* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

.container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
}

.header-logo > img {
    width: 164.29px;
    height: 36.86px;
}

.signup-btn {
    width: 175px;
    height: 42px;
    border: 1px solid #8276FF;
    border-radius: 131px;
    background-color: transparent;
    cursor: pointer;
}

.signup-btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.hero-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

.txt-style {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    letter-spacing: 0.007em;
}

.hero-title {
    width: 600px;
    height: 138px;
    margin-bottom: 20px;
    font-size: 49px;
    line-height: 69px;
}

.title-white {
    font-weight: 400;
}

.title-yellow {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #FFC759;
    text-transform: uppercase;
    letter-spacing: 0.007em;
}

.hero-desc {
    width: 247px;
    height: 49px;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.btn {
    height: 54px;
    display: block;
    background: #8276FF;
    border-radius: 31.0938px;
    border: none; 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.hero-btn {
    width: 211px;
    margin-bottom: 20px;
}

.hero-trial-info {
    width: 292.09px;
    height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 64.07px;
}

.hero-trial-info > img {
    width: 16.82px;
    height: 17px;
    margin-right: 17.27px;
}

.hero-trial-info > p {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.hero-reviews {
    width: 402px;
    height: 20.07px;
    display: flex;
    align-items: center;
    margin-bottom: 39.39px;
}

.hero-reviews > img {
    width: 51.81px;
    height: 19.65px;
    margin-right: 8.18px;
}

.hero-reviews > p {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.hero-partners img {
    display: block;
    margin-right: 27px;
}

.hero-partners {
    display: flex;
    align-items: center;
}

.hero-img {
    width: 680px;
    height: 680px;
}

.hero-img > img {
    width: 100%;
    height: 100%;
}


.discount-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-section {
    width: 100%;
    height: auto;
    margin-top: 127px;  
}
.discount-section-title {
    font-weight: 600;
    font-size: 39px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 113px;
}

.discount-section-title span {
    font-style: italic;
}
.discount-box {
    width: 537px;
    height: 586px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(141, 159, 244, 0.3);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    position: relative;
}

.discount-box > img {
    position: absolute;
    top: -81px;
    left: 341px;
}

.discount-box > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 52px;
    letter-spacing: 0.007em;
    color: rgba(255, 255, 255, 0.86);
    text-align: center;
    margin-top: 53px;
}

.prices {
    position: relative;
}

.old-price {
    position: absolute;
    left: 73px;
    top: 134px;
}

.new-price-details {
    position: absolute;
    left: 166px;
}

.old-price {
    font-weight: 600;
    font-size: 31px;
    line-height: 58px;
}

.old-price::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 30px;
    transform: rotate(340deg);
    left: 0;
    background-color: #f354b4;
}

.new-price {
    font-weight: 700;
    font-size: 80px;
    line-height: 157px;
}

.new-price-desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 59px;
    letter-spacing: 0.007em;
    color: rgba(255, 255, 255, 0.75);
    margin-top: -50px;
}

.disocunt-box-details {
    margin-top: 9px;
}
.disocunt-box-details span {
    display: inline-block;
    width: 138.56px;
    height: 49px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.disocunt-btn {
    width: 223px;
    position: absolute;
    top: 469px;
    left: 157px;
}

.discout-condition {
    position: absolute;
    top: 533px;
    right: 22.35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: right;
}

.design-circle1 {
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background: rgba(99, 133, 253, 0.1);
    filter: blur(115px);
    position: absolute;
    top: 246px;
    left: -138px;
}

.design-circle2 {
    width: 396px;
    height: 396px;
    border-radius: 50%;
    background: rgba(253, 119, 159, 0.1);
    filter: blur(115px);
    position: absolute;
    top: -87px;
    right: -100px;
}

.awards {
    width: 1510px;
    height: 229px;
    margin-top: 200px;
    margin-bottom: 180px;
    margin-right: auto;
    margin-left: auto;
}

.awards > img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.features-title {
    width: 403px;
    height: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.features-title h2, p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 39px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.007em;
}

.features-title p {
    font-style: italic;
    color: #FFC759;
}

.features-info {
    width: 100%;
    height: 813px;
    border-radius: 26px;
    margin-top: 80px;
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    padding: 73px 54px;
}

.features-info-boxes {
    width: 100%;
    height: auto;
}

.features-info-boxes::after {
    display: block;
    width: 1152px;
    height: 1.5px;
    content: "";
    background: #E7E9F2;
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
}

.features-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.features-item {
    cursor: pointer;
    position: relative;
}

.item1 {
    width: 161px;
    height: 117px;
}

.item2 {
    width: 112px;
    height: 117px;
}

.item3 {
    width: 114px;
    height: 117px;
}

.item4 {
    width: 140px;
    height: 117px;
}

.item5 {
    width: 54px;
    height: 117px;
}

.item6 {
    width: 68px;
    height: 117px;
    margin-right: 35px;
}

.features-box {
    width: 100%;
    height: 100%;
}

.features-item::after {
    position: absolute;
    width: 100%;
    height: 6px;
    content: "";
    background: #ffffff;
    border-radius: 6px;
    left: 0;
    bottom: -39px;
    visibility: hidden;
    transition: 0.1s;
  }
  
.features-item.active::after {
    visibility: visible;
}
  

.features-box img {
    margin-bottom: 13px;
}

.features-box p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.features-details {
    display: none;
}

.features-block {
    width: 100%;
    height: auto;
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-details.active {
   display: block;
}

.features {
    width: 50%;
    margin-right: 35px;
}

.features > h3 {
    font-weight: 600;
    font-size: 39px;
    line-height: 52px;
}

.features-items {
    margin-top: 30px;
}

.features-items span {
    display: inline-block;
    margin-top: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    letter-spacing: 0.007em;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.features-btn {
    margin-top: 41px;
    width: 267px;
}

.features-img {
    display: block;
    width: 50%;
}

.trusted-companies-section {
    width: 1161.73px;
    height: 290px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 184.86px;
}

.trusted-companies-section > h2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;    
    text-align: center;
}

.trusted-companies {
    width: 100%;
    height: 100%;
    margin-top: 57.43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    width: 100%;
    background-image: url("../images/footer.png"),
      linear-gradient(147.19deg, #362a87 -2.99%, #2c2747 82.25%, #4323f1 157.46%);
    background-position: right;
    background-repeat: no-repeat;
    overflow-y: hidden;
  }

.footer-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
}


.footer-info > p {
    font-weight: 600;
    font-size: 49px;
    line-height: 62px;
    text-align: left;
}

.footer-btn {
    width: 247px;
    margin-top: 30px;
}
